@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:Montserrat, Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1440px) {
  html{
    font-size: 1.11vw;
  }
}

@media screen and (max-width:768px) {
  html{
    font-size: 4.11vw;
  }
}